* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    background: #F0F8FF;
    align-items: center;
    justify-content: center;
}

.wrapper {
    position: relative;
    background: #fff;
    padding: 34px;
    max-width: 430px;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.wrapper h2 {
    position: relative;
    font-weight: 600;
    color: #333;
    font-size: 22px;
}



.wrapper form {
    margin-top: 30px;
}

.wrapper form .input-box {
    margin: 18px 0;
    height: 52px;
}

form .input-box input {
    outline: none;
    padding: 0 15px;
    color: #333;
    font-size: 17px;
    font-weight: 400;
    border: 1.5px solid #c7bebe;
    height: 100%;
    width: 100%;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid {
    border-color: #6495ED;
}

form .policy {
    display: flex;
    align-items: center;
}

form h3 {
    font-size: 14px;
    font-weight: 500;
    color: #707070;
    margin-left: 10px;
}

.input-box.button input {
    color: #fff;
    border: none;
    background: #4682B4;
    letter-spacing: 1px;
    cursor: pointer;
}

.input-box.button input:hover {
    background: #6495ED;
}

form .text h3 {
    width: 100%;
    color: #333;
    text-align: center;
}

form .text h3 a {
    text-decoration: none;
    color: #4682B4;
}

form .text h3 a:hover {
    text-decoration: underline;
    color: #6495ED;
}






a[href="ilya.html"]
          {font-size: 30px;
          color: #000000;

          text-align: left;
          font-family: Franklin Gothic;
          text-decoration: none;
          font-weight: 700;
          margin: 150px 0px 0px 0px}

a[href="timofey.html"]
          {font-size: 30px;
          color: #000000;

          text-align: left;
          font-family: Franklin Gothic;
          text-decoration: none;
          font-weight: 700;
          margin: 250px 0px 0px 0px}

main
           {font-size: 30px;
          color: #000000;

          text-align: left;
          font-family: Franklin Gothic;
          text-decoration: none;
          font-weight: 700;}

.background
          {background: linear-gradient(to right, #FFF8DC, #FFF0F5);
          border-radius: 6px;
          padding: 16px;
          box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
          box-sizing: border-box;
          width: 300px;
          }

.navbar {
        position:fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        padding: 0px 0px;
        height: 75px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        }

.navbar a {
           font-size: 25px;
           color: #000000;
           text-decoration: none;
           font-family: Franklin Gothic;
           font-weight: 170;
           }


body {margin-top:70px;}


.medved {display: block;
        margin-top: 0px;
        margin-left: 20px;
        width: 75px;
        height: 75px
        }

a[href="news.html"]
                    {display: inline-block;

                    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
                    position: relative;
                    top: -50px;
                    margin-left: 130px;}

a[href="settings.html"]
                    {display: inline-block;

                    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
                    position: relative;
                    top: -50px;
                    margin-left: 130px;}

